body {
background:rgb(255, 255, 255);
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color:rgb(0, 0, 0);
    text-align:center;
    background-color:rgb(97, 1, 121);
}
h3{
    text-align:center;
}
p{
    text-align: center;
    color:black;
}
.name{
    color:black;
}
.projects{
 display:flex;
 
}

.project{
    width:30%;
    margin:10px;
    padding:20px 10px;
    background:rgb(97, 1, 121);
    border-radius:25%;
}

.project img{
    width:300px;
    height:300px;
    margin:10px;
    border:2px solid rgb(31,31,31); 
    display:block; 
    margin:auto;
}

.Small{
font-size:10px;
font-style:italic;
font-weight: 400;
}

.Medium{
font-size:12px;
margin-top:15px;
margin-left:50px;
font-weight: 100;
}

.Important{
font-size:12px;
margin-top:15px;
margin-left:50px;

}

.Details{

font-size:10px;
font-style:italic;
font-weight: 400;
margin-left:100px;
}

hr{
    border:2px solid black;
}

.subhead{
    width:150px;
}

